:root {
    --var-font-family: 'Adobe Garamod', sans-serif;
    --var-max-width: 1200px;

    // Colors
    --var-black: #161616;
    --var-green: #00db96;
    --var-violet: #49297e;
    --var-light-blue: #90dcff;
    --var-purple: #e10086;
    --var-yellow: #fdfb76;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--var-font-family);
    font-size: 10px;
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    overflow-y: scroll;
}

body {
    min-width: 32rem;
    color: var(--var-black);
    font-size: 1.6rem;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

button {
    background-color: var(--var-green);
    outline: none;
    border: none;
    padding: 1rem 0.7rem;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    button {
        transition: 150ms all ease-in-out;

        &:hover {
            background-color: var(--var-purple);
            color: white;
        }
    }
}
