.cart-page {
    margin: 0 auto;
    width: 100%;
    max-width: var(--var-max-width);
    padding: 3rem 2rem;

    &--empty {
        color: var(--var-light-purple);
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }
}

.total-amount {
    text-align: right;

    &__title {
        font-weight: 600;
    }
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    background-color: #f8f8f8;

    &__description {
        display: flex;
        gap: 2rem;
    }

    &__title {
        color: var(--var-green);
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 0.5rem;
    }
}

.buy-now {
    margin: 2rem 0;

    &__button {
        width: 100%;
    }
}
