.product-page {
    margin: 0 auto;
    width: 100%;
    max-width: var(--var-max-width);
    padding: 3rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50rem;
    width: 100%;
    background-color: #f8f8f8;
    padding: 1rem;

    &__image {
        width: 100%;
        height: auto;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
}
